<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Chatter</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <!-- Personal stylesheet  -->
    <link href="/assets/mine.css" rel="stylesheet" type="text/css">
    
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">Tech Chatter</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav justify-content-end">
                <li class="nav-item active">
                    <a class="nav-link" href="/feeds"> feeds </a>
                </li>   
                <li class="nav-item active">
                  <a class="nav-link" href="/profile/about">About</a>
                </li>   
                <li class="nav-item active">
                    <a class="nav-link" href="/logout"> Logout </a>
                </li>
                <li>
                  <a href=""></a>
                </li>
              </ul>
            </div>
        </nav>
    </header>
    <br><br>
    <div class="container p-3 my-3 bg-light text-black">
        <h4>
        Name : <%= name %> <br> Email : <%= email %> <br>
        Gender : <%= gender %> <br> Date of Birth : <%= dateofbirth %> <br>
        </h4>
    </div>
    <footer>
    </footer>
</body>
</html>